.curl-container {
    position: relative;
    width: 50vw;
    height: 100vh;
}
.stretch {
    &-left {
        position: absolute;
        top: -80px;
        max-width: 203px;
        width:auto;
        &.one {
            height: 100vh;
            right: 0;
        }
        &.two {
            height: 90vh;
            right: 107px;
        }
        &.three {
            height:80vh;
            right: 191px;
        }
        &.four {
            height:70vh;
            right: 269px;
        }
        &.five {
            height:62vh;
            right: 357px;
        }
        &.six {
            height:54vh;
            right: 419px;
        }
    }
    &-right {
        top: -80px;
        position: absolute;
        max-width: 203px;
        width:auto;
        &.one {
            height: 100vh;
            right: 0;
            }
            &.two {
                height:90vh;
                right:110px;
            }
            &.three {
                height:80vh;
                right: 201px;
            }
            &.four {
                height:70vh;
                right: 285px;
            }
            &.five {
                height:62vh;
                right:367px;
            }
            &.six {
                height:54vh;
                right: 430px;
            }
    }
    &-overlay {
        top: -80px;
        position: absolute;
        max-width: 203px;
        width:auto;
        z-index: 1;
        &:hover {
            z-index: 0;
        }
        &.one {
            height: 80vh;
            right: calc(100vh - 43vw);
            }
            &.two {
                height: 60vh;
                right: calc(100vw - 87vw);
            }
            &.three {
                height: 50vh;
                right: calc(100vw - 83vw);
            }
            &.four {
                height: 40vh;
                right:calc(100vw - 79vw);
            }
    }
}
.overlay {
    position: absolute;
    max-width: 132px;
    width: auto;
    top: -80px;
    z-index: 1;
    &:hover {
        z-index: 0;
    }
    
    &.one {
        height: 80vh;
        right: calc(100vh - 43vw); 
    }
    &.two {
        height: 60vh;
        right: calc(100vw - 87vw);
    }
    &.three {
        height: 50vh;
        right: calc(100vw - 83vw); 
    }
    &.four {
        height: 40vh;
        right: calc(100vw - 79vw);
    }
}

.left {
    position: absolute;
    max-width: 132px;
    width: auto;
    top: -80px;
    &.one {
        height: 100vh;
        right: 0;
       // z-index:2;
    }
    &.two {
        right: calc(100vw - 93vw);
        height: 90vh;
       // z-index: 9;
    }
    &.three {
        height: 80vh;
        right: calc(100vw - 87vw);
        //z-index: 12;    
    }
    &.four {
        height: 70vh;
        right: calc(100vw - 82vw)
       // z-index: 8;
    }
    &.five {
        height: 62vh;
        right: calc(100vw - 77vw);
       // z-index: 5;
    }
    &.six {
        height: 54vh;
        right: calc(100vw - 73vw);
        //z-index: 11;
    }
}

.right {
    position: absolute;
    max-width: 132px;
    width: auto;
    top: -80px;
    &.one {
        height: 100vh;
        right: calc(100vw - 98vw);
        //z-index: 7;
    }
    &.two {
        height: 90vh;
        right: calc(100vw - 91.2vw);
        //z-index: 4;
    }
    &.three {
        height: 80vh;
        right: calc(100vw - 83.6vw)
        //z-index: 10;
    }
    &.four {
        height: 70vh;
        right: calc(100vw - 80.6vw);
        //z-index: 3;   
    }
    &.five {
        height: 62vh;
        right: calc(100vw - 74vw);
        //z-index: 1;    
    }
    &.six {
        height: 54vh;
        right: calc(100vw - 72vw);
        //z-index: 6;
    }
}