<div class="curl-container" (mouseleave)="resetCurls()">

    <dl-lowlight-left @animateCurls *ngIf="!stretch.so4" class="overlay four"></dl-lowlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.so4" class="stretch-overlay four"></dl-stretch-left>

    <dl-highlight-right @animateCurls *ngIf="!stretch.so3" class="overlay three" ></dl-highlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.so3" class="stretch-overlay three" ></dl-stretch-right>

    <dl-lowlight-right @animateCurls *ngIf="!stretch.so2" class="overlay two" ></dl-lowlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.so2" class="stretch-overlay two" ></dl-stretch-right>

    <dl-highlight-left @animateCurls *ngIf="!stretch.so1" class="overlay one" ></dl-highlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.so1" class="stretch-overlay one" ></dl-stretch-left>


    <dl-highlight-right @animateCurls *ngIf="!stretch.sr6" class="right six" ></dl-highlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr6" class="stretch-right six" ></dl-stretch-right>

    <dl-lowlight-left @animateCurls *ngIf="!stretch.sl6" class="left six" ></dl-lowlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl6" class="stretch-left six" ></dl-stretch-left>

    <dl-lowlight-right @animateCurls *ngIf="!stretch.sr5" class="right five" ></dl-lowlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr5" class="stretch-right five" ></dl-stretch-right>

    <dl-highlight-left @animateCurls *ngIf="!stretch.sl5" class="left five" ></dl-highlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl5" class="stretch-left five" ></dl-stretch-left>

    <dl-highlight-right @animateCurls *ngIf="!stretch.sr4" class="right four" ></dl-highlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr4" class="stretch-right four" ></dl-stretch-right>

    <dl-lowlight-left @animateCurls *ngIf="!stretch.sl4" class="left four" ></dl-lowlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl4" class="stretch-left four" ></dl-stretch-left>

    <dl-lowlight-right @animateCurls *ngIf="!stretch.sr3" class="right three" ></dl-lowlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr3" class="stretch-right three" ></dl-stretch-right>

    <dl-highlight-left @animateCurls *ngIf="!stretch.sl3" class="left three" ></dl-highlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl3" class="stretch-left three"></dl-stretch-left>

    <dl-highlight-right @animateCurls *ngIf="!stretch.sr2" class="right two" ></dl-highlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr2" class="stretch-right two" ></dl-stretch-right>

    <dl-lowlight-left @animateCurls *ngIf="!stretch.sl2" class="left two" ></dl-lowlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl2" class="stretch-left two" ></dl-stretch-left>

    <dl-highlight-right @animateCurls *ngIf="!stretch.sr1" class="right one"></dl-highlight-right>
    <dl-stretch-right @animateCurls *ngIf="stretch.sr1" class="stretch-right one" ></dl-stretch-right>

    <dl-lowlight-left @animateCurls *ngIf="!stretch.sl1" class="left one" ></dl-lowlight-left>
    <dl-stretch-left @animateCurls *ngIf="stretch.sl1" class="stretch-left one"></dl-stretch-left>
</div>