@import '../../../../styles.scss';

.website-title {
    cursor: pointer;
    color: $accent;
    &-small {
        cursor: pointer;
        color: $accent;
        min-width: auto !important;
    }
}