<div fxLayout="row" style="height: 100%;">
    <div fxLayout="column"  style="width: 100%;max-width: 900px;padding: 72px;">
        <h2 class="heading" fxFlexOffset="24px">Learn from my mistakes!</h2>
        <p>Growing up without the internet meant the <b><u>worst</u></b> time for my hair.<br>
        Having no clue, I kept making things worse by mistreating my hair.<br><br>
        These are my personal experiences and beliefs, I am not a professional.<br>
        Maybe you can learn from the mistakes I made.  
        </p> 
        <div fxLayout="column" fxLayoutGap="24px" fxFlexOffset="36px">
          <button routerLink="/products" class="button-text-accent" mat-raised-button color="primary" >NATURAL PRODUCT OVERVIEW<mat-icon style="padding-left: 12px;" color="accent">arrow_forward</mat-icon></button>
          <button routerLink="/care" class="button-text" mat-raised-button >WHAT I LEARNT ABOUT HAIRCARE<mat-icon style="padding-left: 12px;" color="accent">arrow_forward</mat-icon></button>
          <button routerLink="/check" class="button-text" mat-raised-button color="accent">CHECK FOR HARMFUL INGREDIENTS<mat-icon style="padding-left: 12px;" color="primary">arrow_forward</mat-icon></button>
        </div>
      </div>
      <img style="height: 100%;max-height: 420px;" src="../../assets/img/undraw_welcome_3gvl (1).svg">
</div>

