@import "../../styles.scss";
.button-text {
  width: fit-content;
}

.heading {
  color: $accent;
  font-size: -webkit-xxx-large;
  margin-bottom: inherit;
}

.heading-small {
  color: $accent;
  margin-bottom: inherit;
}
