<div fxLayout="row" style="height:100%;">
    <div fxLayout="column"  style="width: 100%;max-width: 900px;padding: 24px;">
      <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
          <h2 [ngClass]="checkSize()" [innerHtml]="getTitle()"></h2> 
          <mat-icon color='primary'>favorite_border</mat-icon>
      </div>
      <div [innerHtml]="getIntro()"></div>
      <div fxLayout="column" fxLayoutGap="24px" fxFlexOffset="36px">
        <button color="accent" routerLink="/care" class="button-text" mat-raised-button>
          <span *ngIf="this.lang == 'com'">HAIRCARE GUIDES</span>
          <span *ngIf="this.lang == 'nl'">HAARVERZORGING</span>
          <mat-icon style="padding-left:12px;">arrow_forward</mat-icon>
        </button>

          <button color="accent" routerLink="/products" class="button-text" mat-raised-button>
            <span *ngIf="this.lang == 'com'">PRODUCT OVERVIEW</span>
            <span *ngIf="this.lang == 'nl'">PRODUCT OVERZICHT</span>
            <span></span>
            <mat-icon style="padding-left:12px;">arrow_forward</mat-icon>
          </button>

          <button color="accent" routerLink="/check" class="button-text" mat-raised-button>
            <span *ngIf="this.lang == 'com'">INGREDIENT CHECKER</span>
            <span *ngIf="this.lang == 'nl'">INGREDIËNTEN CHECKER</span>
            <span></span>
            <mat-icon style="padding-left:12px;">arrow_forward</mat-icon>
          </button>
        </div>
      </div> 
</div>

