@import '../../styles.scss';

.cred {
    padding-top: 6px;
    cursor: pointer;
}
.no-underline {
    text-decoration: none;
    font-family: Comfortaa;
}

.card-container {
    height:100%;
    padding: 24px;
}

.card-image {
    border-radius: 4px;
}

.card-title {
    color: $accent;
    font-family: Comfortaa;
}

.products-header {
    color: $primary;
    text-align: center;
}

:host .mat-card {
    margin: 24px;
}

.description {
    max-width: 240px;
    width: 100%;
    min-height: 120px;
    height: 100%;
    font-family: Comfortaa;
    text-align: center;
}