<div style="padding: 12px;" fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center">
        <h2 class="products-header" [innerHtml]="getTitle()"></h2>
        <div style="text-align:center;" [innerHtml]="getIntro()"></div>
    </div>
    <div *ngIf="this.lang == 'com'" class="card-container" fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="center">
            <mat-card fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start center" *ngFor="let product of this.products" style="margin:24px !important;">
                <mat-card-header>
                    <mat-card-title class="card-title" [innerHtml]="product.title"></mat-card-title>
                </mat-card-header>
                <!-- IMAGE -->
                <img class="card-image" [src]="product.img">
                <mat-card-subtitle class="cred"><a class="no-underline" href="https://unsplash.com/" [innerHtml]="product.cred"></a></mat-card-subtitle>
                <mat-card-content>
                        <p class="description" [innerHtml]="product.desc"></p>
                      </mat-card-content>
                      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
                        <button color="accent" mat-button (click)="goto(product.wiki)" style="font-family:Comfortaa;">GO TO WIKI</button>
                        <button mat-icon-button (click)="goto(product.wiki)"><mat-icon color="primary">arrow_forward</mat-icon></button>
                      </mat-card-actions>
            </mat-card>
    </div>
    <div *ngIf="this.lang == 'nl'" class="card-container" fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="center">
            <mat-card fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start center" *ngFor="let product of this.producten" style="margin:24px !important;">
                <mat-card-header>
                    <mat-card-title class="card-title" [innerHtml]="product.title"></mat-card-title>
                </mat-card-header>
                <img class="card-image" [src]="product.img">
                <mat-card-subtitle class="cred"><a class="no-underline" href="https://unsplash.com/" [innerHtml]="product.cred"></a></mat-card-subtitle>
                <mat-card-content>
                        <p class="description" [innerHtml]="product.desc"></p>
                      </mat-card-content>
                      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
                        <button color="accent" mat-button (click)="goto(product.wiki)" style="font-family:Comfortaa;">GA NAAR WIKI</button>
                        <button mat-icon-button (click)="goto(product.wiki)"><mat-icon color="primary">arrow_forward</mat-icon></button>
                      </mat-card-actions>
            </mat-card>
    </div>
</div>

