<div fxLayout="row" [ngClass]="checkWindow()">
    <div fxLayout="column"  style="width: 100%;max-width: 900px;padding: 24px;">
      <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
          <h2 [ngClass]="checkSize()" [innerHtml]="getTitle()"></h2> 
          <mat-icon color='primary'>favorite_border</mat-icon>
      </div>
      <div class="intro-text" [innerHtml]="getIntro()"></div>
      <div *ngIf="this.lang == 'com'" fxLayout="column" fxLayoutGap="24px" fxFlexOffset="36px">
        <button routerLink="/check" class="button-text dl-button" mat-button>
          <span>INGREDIENT CHECKER</span>
          <mat-icon style="padding-left:12px;">arrow_forward</mat-icon>
        </button>
      </div>
      <div *ngIf="this.lang == 'nl'" fxLayout="column" fxLayoutGap="24px" fxFlexOffset="36px">
        <button routerLink="/check" class="button-text dl-button" mat-button>
          <span class="button-text">INGREDIËNTEN CHECKER</span>
          <mat-icon style="padding-left:12px;">arrow_forward</mat-icon>
        </button>
      </div>
    </div> 
    <div fxLayout="column">
      <dl-side-curls></dl-side-curls>
    </div>
</div>

