@import '../../styles.scss';

.cred {
    padding: 6px;
}

.card-container {
    height:100%;
    padding-bottom: 24px;
}

.card-image {
    border-radius: 4px;
}

.card-title {
    color: $accent;
}

.products-header {
    color: $primary;
}