<div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start center" style="height:100%;">
    <h2 class="heading">Check yourself before you wreck yourself!</h2>
    <p class="check-intro">
       Not all hair products consist of great ingredients unfortunately, some of the products can be really
       damaging to your natural hair. Have a look in this ingredient finder to see if there are
       any harmful ingredients in your product.</p>
    <p class="check-intro">I made this list with the information on 
       <a href="http://www.tightlycurly.com/ingredients/">this</a> website. Thankfully this gorgeous
       lady went through the effort of assessing frequently used ingredients. She has categorized
       them in three categories, ranging from good to bad.</p>
    <p class="check-intro">I made a list of all the ingredients
       she has marked as 'avoid'. Definitely go check out her website, as she has a lot more information
       about the ingredients and why they would be good or bad.
    </p>
    <br>  
    <mat-form-field class="finder" color="accent" >
        <mat-icon style="margin: 6px;" color='accent' matPrefix>search</mat-icon>
        <input (input)="searchIngredients($event.target.value)" style="margin: 2px;" color="accent" matInput type="text" placeholder="Harmful ingredient finder" >
    </mat-form-field>
    <div *ngIf="dataSource.data.length > 0" class="search-output" style="max-width: 420px; width: 100%;">
        <table style="width:100%;" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="ingredient">
                <th mat-header-cell *matHeaderCellDef> INGREDIENTS </th>
                <td mat-cell *matCellDef="let ingredient" > {{ingredient}} </td>
            </ng-container>
                
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="this.searchBarEmpty">
        <h3 class="search-div">Please type your ingredients in the searchbar above.</h3>
    </div>
    <div *ngIf="this.dataSource.data.length == 0 && !this.searchBarEmpty">
        <h3 class="search-div">No harmful ingredients found! Your product <u>MIGHT</u> be safe.</h3>
    </div>
</div>

