<div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start center" style="height:100%;padding:24px;min-height: fit-content;">
    <h2 [ngClass]="checkSize()" [innerHtml]="getTitle()"></h2>
    <div [innerHtml]="getIntro()" style="max-width: 1022px;width: 100%;text-align: center;"></div>
    <br>  
    <mat-form-field class="finder" color="accent" >
        <mat-icon style="margin: 6px;" color='accent' matPrefix>search</mat-icon>
        <input #searchQuery (input)="searchIngredients($event.target.value)" style="margin: 2px;" color="accent" matInput type="text" [placeholder]="getPlaceHolder()">
    </mat-form-field>
    <div class="result-container">
        <mat-list *ngIf="this.searchResults.length > 0">
            <h3 *ngIf="this.lang == 'com'" class="table-header" mat-subheader>INGREDIENTS</h3>
            <h3 *ngIf="this.lang == 'nl'" class="table-header" mat-subheader>INGREDIËNTEN</h3>
            <mat-list-item *ngFor="let result of this.searchResults">
                  <h4 mat-line [innerHtml]="result | highlight: searchQuery.value "></h4>
            </mat-list-item>
        </mat-list>
        <h3 *ngIf="this.searchBarEmpty && this.lang == 'com'" class="search-div">Please type your ingredients in the searchbar above.</h3>
        <h3 *ngIf="this.searchResults == 0 && !this.searchBarEmpty && this.lang == 'com'" class="search-div">No harmful ingredients found! Your product <u>MIGHT</u> be safe.</h3>
        <h3 *ngIf="this.searchBarEmpty && this.lang == 'nl'" class="search-div">Voer uw ingrediënten in.</h3>
        <h3 *ngIf="this.searchResults == 0 && !this.searchBarEmpty && this.lang == 'nl'" class="search-div">Geen schadelijke ingrediënten gevonden! Jouw product is <u>waarschijnlijk</u> veilig.</h3>
    </div>
</div>

