<div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start center" style="height:100%;padding:24px;min-height: fit-content;">
    <h2 [ngClass]="checkSize()" class="">Check yourself before you wreck yourself!</h2>
    <p class="check-intro">
        This checker checks your ingredients. If your ingredient shows up in the search it's probably best to avoid it.
    </p>
    <p class="check-intro">The <a href="http://www.tightlycurly.com/ingredients/">TightlyCurly</a> website has categorized ingredients from good to avoid.
        I put the ingredients to be avoided in this checker.
    </p>
    <p class="check-intro">
        If you want to know more about why the ingredient should be avoided you can find out on the <a href="http://www.tightlycurly.com/ingredients/">TightlyCurly</a> website. 
        Go check it out and educate yourself!
    </p>
    <br>  
    <mat-form-field class="finder" color="accent" >
        <mat-icon style="margin: 6px;" color='accent' matPrefix>search</mat-icon>
        <input #searchQuery (input)="searchIngredients($event.target.value)" style="margin: 2px;" color="accent" matInput type="text" placeholder="Harmful ingredient finder" >
    </mat-form-field>
    <div class="result-container">
        <mat-list *ngIf="this.searchResults.length > 0">
            <h3 class="table-header" mat-subheader>INGREDIENTS</h3>
            <mat-list-item *ngFor="let result of this.searchResults">
                  <h4 mat-line [innerHtml]="result | highlight: searchQuery.value "></h4>
            </mat-list-item>
        </mat-list>
        <h3 *ngIf="this.searchBarEmpty" class="search-div">Please type your ingredients in the searchbar above.</h3>
        <h3 *ngIf="this.searchResults == 0 && !this.searchBarEmpty" class="search-div">No harmful ingredients found! Your product <u>MIGHT</u> be safe.</h3>
    </div>
</div>

