<div fxLayout="column" fxLayoutAlign="start center">
  <p>
    YouTube especially is a great place to learn from different people all over the world.
  </p>
  <p>
    You can follow people that match your hairtype or you can draw inspiration from different hairtypes.
  </p>
  <p>
    These are some of the channels I found very useful.
  </p>
  <div fxLayout="row wrap" fxLayoutGap="24px" class="card-container">
    <mat-card class="youtuber-card" *ngFor="let yt of this.youtubers">
      <mat-card-header>
        <img mat-card-avatar [src]="yt.img">
        <mat-card-title class="title" [innerHtml]="yt.name"></mat-card-title>
        <mat-card-subtitle [innerHtml]="yt.channelName"></mat-card-subtitle>
      </mat-card-header>
      <youtube-player width="420" height="315" [videoId]="yt.videoId" (ready)="savePlayer($event)" (change)="onStateChange($event)">
      </youtube-player>
      <mat-card-content>
        <p class="description" [innerHtml]="yt.description">
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button  color="accent" mat-button (click)="goto(yt.linkChannel)">VISIT CHANNEL</button>
        <button  mat-icon-button (click)="favor($event.target)">
          <mat-icon color="primary">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
