@import '../../../../styles.scss';

.footer-text {
    color: $accent;
    font-family: Comfortaa, cursive;
}
.footer-text-medium {
    color: $accent;
    font-family: Comfortaa, cursive;
    font-size: medium;
}
.footer-text-small {
    color: $accent;
    font-family: Comfortaa, cursive;
    font-size: small;
}

.footer-icon {
    margin: 24px 6px;
}
.footer-icon-small {
    margin: 18px 6px;
}