@import '../../../../styles.scss';

.footer-text {
    color: $accent;
    font-family: Comfortaa, cursive;
    &-medium {
        color: $accent;
        font-family: Comfortaa, cursive;
        font-size: medium;
    }
    &-small {
        color: $accent;
        font-family: Comfortaa, cursive;
        font-size: small;
    }
}
.footer-icon {
    margin: 24px 6px;
    &-small {
        margin: 18px 6px;
    }
}