<div style="padding:12px" fxLayout="column" fxLayoutAlign="start center">
  <div style="text-align:center;" [innerHtml]="getIntro()"></div>
  <div fxLayoutAlign="center" fxLayout="row wrap" class="card-container">
    <mat-card [ngClass]="setClass()" *ngFor="let yt of this.youtubers">
      <mat-card-header>
        <!-- IMAGE -->
        <img mat-card-avatar [src]="yt.img">
        <mat-card-title class="title" [innerHtml]="yt.name"></mat-card-title>
        <mat-card-subtitle style="font-family:Comfortaa;" [innerHtml]="yt.channelName"></mat-card-subtitle>
      </mat-card-header>
      <youtube-player [width]="checkSize()" height="315" [videoId]="yt.videoId" (ready)="savePlayer($event)">
      </youtube-player>
      <mat-card-content>
        <p class="description" [innerHtml]="yt.description">
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button  color="accent" mat-button (click)="goto(yt.linkChannel)" style="font-family:Comfortaa;">
          <span *ngIf="this.lang == 'com'">VISIT CHANNEL</span>
          <span *ngIf="this.lang == 'nl'">BEZOEK KANAAL</span>
        </button>
        <button  mat-icon-button (click)="favor($event.target)">
          <mat-icon color="primary">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
