@import '../../../styles.scss';

.youtuber-card {
    min-width: 420px;
    max-width: 420px;
    width: 100%;
    margin-bottom: 24px;
}
.youtuber-card-tiny {
    max-width: 420px;
    width: 100%;
    margin-bottom: 24px;
}
.card-container {
    max-width: 1000px;
    width: 100%;
}

.description {
    font-family: Comfortaa;
    padding: 24px;
    height: 100%;
    min-height: 150px;  
    text-align: center;
}

.title {
    color: $primary;
    font-family: Comfortaa;
}

:host .mat-card {
    margin: 24px;
}